EXPO_PUBLIC_AUTH_API_URL=http://10.18.129.11:4001
EXPO_PUBLIC_USER_API_URL=http://10.18.129.11:4002
EXPO_PUBLIC_ROUTE_API_URL=http://10.18.129.11:4003
EXPO_PUBLIC_CHAT_API_URL=http://10.18.129.11:4004
EXPO_PUBLIC_PAYMENT_API_URL=http://10.18.129.11:4005
EXPO_PUBLIC_NOTIFICATION_API_URL=http://10.18.129.11:4006
