PORT=4006
DATABASE_URL=postgresql://neondb_owner:npg_BYdLJ65ZmxVs@ep-green-bush-aht177vg-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require&schema=notification
REDIS_URL=redis://redis:6379
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONE=
