PORT=4001
DATABASE_URL=postgresql://neondb_owner:npg_BYdLJ65ZmxVs@ep-green-bush-aht177vg-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require&schema=auth
REDIS_URL=redis://redis:6379
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
TWILIO_FROM_PHONE=
GOOGLE_OAUTH_CLIENT_ID=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
